$simple-line-font-path: "fonts/" !default;
$simple-line-font-family: "Simple-Line-Icons" !default;
$simple-line-icon-prefix: "icon-" !default;

@include font-face(
        $simple-line-font-family,
        font-files('#{$simple-line-font-path}Simple-Line-Icons.woff', '#{$simple-line-font-path}Simple-Line-Icons.ttf'),
        '#{$simple-line-font-path}Simple-Line-Icons.eot', 400, normal
);

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
    font-family: $simple-line-font-family;
    content: attr(data-icon);
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.#{$simple-line-icon-prefix} {
    &user-female,
    &user-follow,
    &user-following,
    &user-unfollow,
    &trophy,
    &screen-smartphone,
    &screen-desktop,
    &plane,
    &notebook,
    &moustache,
    &mouse,
    &magnet,
    &energy,
    &emoticon-smile,
    &disc,
    &cursor-move,
    &crop,
    &credit-card,
    &chemistry,
    &user,
    &speedometer,
    &social-youtube,
    &social-twitter,
    &social-tumblr,
    &social-facebook,
    &social-dropbox,
    &social-dribbble,
    &shield,
    &screen-tablet,
    &magic-wand,
    &hourglass,
    &graduation,
    &ghost,
    &game-controller,
    &fire,
    &eyeglasses,
    &envelope-open,
    &envelope-letter,
    &bell,
    &badge,
    &anchor,
    &wallet,
    &vector,
    &speech,
    &puzzle,
    &printer,
    &present,
    &playlist,
    &pin,
    &picture,
    &map,
    &layers,
    &handbag,
    &globe-alt,
    &globe,
    &frame,
    &folder-alt,
    &film,
    &feed,
    &earphones-alt,
    &earphones,
    &drop,
    &drawer,
    &docs,
    &directions,
    &direction,
    &diamond,
    &cup,
    &compass,
    &call-out,
    &call-in,
    &call-end,
    &calculator,
    &bubbles,
    &briefcase,
    &book-open,
    &basket-loaded,
    &basket,
    &bag,
    &action-undo,
    &action-redo,
    &wrench,
    &umbrella,
    &trash,
    &tag,
    &support,
    &size-fullscreen,
    &size-actual,
    &shuffle,
    &share-alt,
    &share,
    &rocket,
    &question,
    &pie-chart,
    &pencil,
    &note,
    &music-tone-alt,
    &music-tone,
    &microphone,
    &loop,
    &logout,
    &login,
    &list,
    &like,
    &home,
    &grid,
    &graph,
    &equalizer,
    &dislike,
    &cursor,
    &control-start,
    &control-rewind,
    &control-play,
    &control-pause,
    &control-forward,
    &control-end,
    &calendar,
    &bulb,
    &bar-chart,
    &arrow-up,
    &arrow-right,
    &arrow-left,
    &arrow-down,
    &ban,
    &bubble,
    &camcorder,
    &camera,
    &check,
    &clock,
    &close,
    &cloud-download,
    &cloud-upload,
    &doc,
    &envelope,
    &eye,
    &flag,
    &folder,
    &heart,
    &info,
    &key,
    &link,
    &lock,
    &lock-open,
    &magnifier,
    &magnifier-add,
    &magnifier-remove,
    &paper-clip,
    &paper-plane,
    &plus,
    &pointer,
    &power,
    &refresh,
    &reload,
    &settings,
    &star,
    &symbol-female,
    &symbol-male,
    &target,
    &volume-1,
    &volume-2,
    &volume-off,
    &users {
        font-family: $simple-line-font-family;
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.#{$simple-line-icon-prefix} {
    &user-female:before {
        content: "\e000";
    }
    &user-follow:before {
        content: "\e002";
    }
    &user-following:before {
        content: "\e003";
    }
    &user-unfollow:before {
        content: "\e004";
    }
    &trophy:before {
        content: "\e006";
    }
    &screen-smartphone:before {
        content: "\e010";
    }
    &screen-desktop:before {
        content: "\e011";
    }
    &plane:before {
        content: "\e012";
    }
    &notebook:before {
        content: "\e013";
    }
    &moustache:before {
        content: "\e014";
    }
    &mouse:before {
        content: "\e015";
    }
    &magnet:before {
        content: "\e016";
    }
    &energy:before {
        content: "\e020";
    }
    &emoticon-smile:before {
        content: "\e021";
    }
    &disc:before {
        content: "\e022";
    }
    &cursor-move:before {
        content: "\e023";
    }
    &crop:before {
        content: "\e024";
    }
    &credit-card:before {
        content: "\e025";
    }
    &chemistry:before {
        content: "\e026";
    }
    &user:before {
        content: "\e005";
    }
    &speedometer:before {
        content: "\e007";
    }
    &social-youtube:before {
        content: "\e008";
    }
    &social-twitter:before {
        content: "\e009";
    }
    &social-tumblr:before {
        content: "\e00a";
    }
    &social-facebook:before {
        content: "\e00b";
    }
    &social-dropbox:before {
        content: "\e00c";
    }
    &social-dribbble:before {
        content: "\e00d";
    }
    &shield:before {
        content: "\e00e";
    }
    &screen-tablet:before {
        content: "\e00f";
    }
    &magic-wand:before {
        content: "\e017";
    }
    &hourglass:before {
        content: "\e018";
    }
    &graduation:before {
        content: "\e019";
    }
    &ghost:before {
        content: "\e01a";
    }
    &game-controller:before {
        content: "\e01b";
    }
    &fire:before {
        content: "\e01c";
    }
    &eyeglasses:before {
        content: "\e01d";
    }
    &envelope-open:before {
        content: "\e01e";
    }
    &envelope-letter:before {
        content: "\e01f";
    }
    &bell:before {
        content: "\e027";
    }
    &badge:before {
        content: "\e028";
    }
    &anchor:before {
        content: "\e029";
    }
    &wallet:before {
        content: "\e02a";
    }
    &vector:before {
        content: "\e02b";
    }
    &speech:before {
        content: "\e02c";
    }
    &puzzle:before {
        content: "\e02d";
    }
    &printer:before {
        content: "\e02e";
    }
    &present:before {
        content: "\e02f";
    }
    &playlist:before {
        content: "\e030";
    }
    &pin:before {
        content: "\e031";
    }
    &picture:before {
        content: "\e032";
    }
    &map:before {
        content: "\e033";
    }
    &layers:before {
        content: "\e034";
    }
    &handbag:before {
        content: "\e035";
    }
    &globe-alt:before {
        content: "\e036";
    }
    &globe:before {
        content: "\e037";
    }
    &frame:before {
        content: "\e038";
    }
    &folder-alt:before {
        content: "\e039";
    }
    &film:before {
        content: "\e03a";
    }
    &feed:before {
        content: "\e03b";
    }
    &earphones-alt:before {
        content: "\e03c";
    }
    &earphones:before {
        content: "\e03d";
    }
    &drop:before {
        content: "\e03e";
    }
    &drawer:before {
        content: "\e03f";
    }
    &docs:before {
        content: "\e040";
    }
    &directions:before {
        content: "\e041";
    }
    &direction:before {
        content: "\e042";
    }
    &diamond:before {
        content: "\e043";
    }
    &cup:before {
        content: "\e044";
    }
    &compass:before {
        content: "\e045";
    }
    &call-out:before {
        content: "\e046";
    }
    &call-in:before {
        content: "\e047";
    }
    &call-end:before {
        content: "\e048";
    }
    &calculator:before {
        content: "\e049";
    }
    &bubbles:before {
        content: "\e04a";
    }
    &briefcase:before {
        content: "\e04b";
    }
    &book-open:before {
        content: "\e04c";
    }
    &basket-loaded:before {
        content: "\e04d";
    }
    &basket:before {
        content: "\e04e";
    }
    &bag:before {
        content: "\e04f";
    }
    &action-undo:before {
        content: "\e050";
    }
    &action-redo:before {
        content: "\e051";
    }
    &wrench:before {
        content: "\e052";
    }
    &umbrella:before {
        content: "\e053";
    }
    &trash:before {
        content: "\e054";
    }
    &tag:before {
        content: "\e055";
    }
    &support:before {
        content: "\e056";
    }
    &size-fullscreen:before {
        content: "\e057";
    }
    &size-actual:before {
        content: "\e058";
    }
    &shuffle:before {
        content: "\e059";
    }
    &share-alt:before {
        content: "\e05a";
    }
    &share:before {
        content: "\e05b";
    }
    &rocket:before {
        content: "\e05c";
    }
    &question:before {
        content: "\e05d";
    }
    &pie-chart:before {
        content: "\e05e";
    }
    &pencil:before {
        content: "\e05f";
    }
    &note:before {
        content: "\e060";
    }
    &music-tone-alt:before {
        content: "\e061";
    }
    &music-tone:before {
        content: "\e062";
    }
    &microphone:before {
        content: "\e063";
    }
    &loop:before {
        content: "\e064";
    }
    &logout:before {
        content: "\e065";
    }
    &login:before {
        content: "\e066";
    }
    &list:before {
        content: "\e067";
    }
    &like:before {
        content: "\e068";
    }
    &home:before {
        content: "\e069";
    }
    &grid:before {
        content: "\e06a";
    }
    &graph:before {
        content: "\e06b";
    }
    &equalizer:before {
        content: "\e06c";
    }
    &dislike:before {
        content: "\e06d";
    }
    &cursor:before {
        content: "\e06e";
    }
    &control-start:before {
        content: "\e06f";
    }
    &control-rewind:before {
        content: "\e070";
    }
    &control-play:before {
        content: "\e071";
    }
    &control-pause:before {
        content: "\e072";
    }
    &control-forward:before {
        content: "\e073";
    }
    &control-end:before {
        content: "\e074";
    }
    &calendar:before {
        content: "\e075";
    }
    &bulb:before {
        content: "\e076";
    }
    &bar-chart:before {
        content: "\e077";
    }
    &arrow-up:before {
        content: "\e078";
    }
    &arrow-right:before {
        content: "\e079";
    }
    &arrow-left:before {
        content: "\e07a";
    }
    &arrow-down:before {
        content: "\e07b";
    }
    &ban:before {
        content: "\e07c";
    }
    &bubble:before {
        content: "\e07d";
    }
    &camcorder:before {
        content: "\e07e";
    }
    &camera:before {
        content: "\e07f";
    }
    &check:before {
        content: "\e080";
    }
    &clock:before {
        content: "\e081";
    }
    &close:before {
        content: "\e082";
    }
    &cloud-download:before {
        content: "\e083";
    }
    &cloud-upload:before {
        content: "\e084";
    }
    &doc:before {
        content: "\e085";
    }
    &envelope:before {
        content: "\e086";
    }
    &eye:before {
        content: "\e087";
    }
    &flag:before {
        content: "\e088";
    }
    &folder:before {
        content: "\e089";
    }
    &heart:before {
        content: "\e08a";
    }
    &info:before {
        content: "\e08b";
    }
    &key:before {
        content: "\e08c";
    }
    &link:before {
        content: "\e08d";
    }
    &lock:before {
        content: "\e08e";
    }
    &lock-open:before {
        content: "\e08f";
    }
    &magnifier:before {
        content: "\e090";
    }
    &magnifier-add:before {
        content: "\e091";
    }
    &magnifier-remove:before {
        content: "\e092";
    }
    &paper-clip:before {
        content: "\e093";
    }
    &paper-plane:before {
        content: "\e094";
    }
    &plus:before {
        content: "\e095";
    }
    &pointer:before {
        content: "\e096";
    }
    &power:before {
        content: "\e097";
    }
    &refresh:before {
        content: "\e098";
    }
    &reload:before {
        content: "\e099";
    }
    &settings:before {
        content: "\e09a";
    }
    &star:before {
        content: "\e09b";
    }
    &symbol-female:before {
        content: "\e09c";
    }
    &symbol-male:before {
        content: "\e09d";
    }
    &target:before {
        content: "\e09e";
    }
    &volume-1:before {
        content: "\e09f";
    }
    &volume-2:before {
        content: "\e0a0";
    }
    &volume-off:before {
        content: "\e0a1";
    }
    &users:before {
        content: "\e001";
    }
}
